@import "reboot.scss";
@import "var.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
body {
  font-family: "Comfortaa", cursive;
  font-size: 13px;
  background-color: $color-lightness-gray2;
  line-height: normal;
  color: $color-blue;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.main {
  display: flex;
}
