@import "reboot.scss";
@import "var.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap");
body {
  font-family: "Comfortaa", cursive;
  font-size: 13px;
  background-color: #f6f6f8;
  line-height: 0.8;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.main {
  display: flex;
  .main-right {
    flex: 0 0 calc(100% - $size-side-bar);
    width: calc(100% - $size-side-bar);
    max-width: 100%;
    margin: 0;
  }
}
