$size-side-bar: 270px;
$padding-left-right-side-bar: 15px;
$color-light-purple: #e5e5f9;
$color-purple: #7b57df;
$color-blue: #1b2149;
$color-green: #5dc983;
$color-orange: #f2af4c;
$color-red: #eb5769;
$color-lightness-gray: #e8e8e8;
$color-light-gray: #a1a6b0;
$color-dark-gray: #6d7178;
