@import "../../styles/var.scss";

.overview-page {
  .overview-title {
    font-size: 20px;
    font-weight: bold;
    color: $color-blue;
  }
  .overview-box {
    padding-top: 30px;
    display: flex;
    align-items: center;
    .overview-box-items {
      max-width: calc(25% - 15px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 10px;
      margin: 0 7.5px;
      box-shadow: 0 0 20px 0px #0000000f;
      .obi-left {
        .obi-l-title {
          color: $color-light-gray;
        }
        .obi-l-count {
          padding-top: 15px;
          font-size: 18px;
          color: $color-blue;
        }
      }
      .obi-right {
      }
    }
  }
  .overview-card-box {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0;
    .ocb-card {
      display: flex;
      flex-direction: column;
      max-width: calc(50% - 75px);
      width: 100%;
      margin: 0 7.5px 15px;
      background-color: #fff;
      border-radius: 10px;
      padding: 30px;
      .ocb-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        padding-bottom: 25px;
        .ocb-title {
          font-size: 18px;
          color: $color-blue;
        }
        .ocb-more {
          a {
            color: $color-purple;
            position: relative;
            &::before {
              content: ">";
              position: absolute;
              left: calc(100% + 5px);
              color: $color-purple;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
      .ocb-body {
        .ocb-table {
          .rdt_Table {
            .rdt_TableHead {
              .rdt_TableHeadRow {
                background-color: $color-lightness-gray2;
                border-bottom: 0px solid transparent;
                border-radius: 10px;
                .hbotQl {
                  color: $color-light-gray;
                }
              }
            }
            .rdt_TableBody {
              .rdt_TableRow {
                .rdt_TableCell {
                  color: $color-blue;
                }
              }
            }
          }
        }
        .ocb-plan {
          display: flex;
          align-items: center;
          .ocb-plan-left {
            max-width: 100%;
            width: 100%;
            .ocb-pl-items {
              display: flex;
              flex-direction: column;
              .ocb-pl-i-group {
                margin: 0 0 30px;
                .ocb-pl-i-title {
                  color: $color-light-gray;
                  margin: 0 0 10px;
                }
                .ocb-pl-i-counting {
                  font-size: 16px;
                  span {
                    color: $color-light-gray;
                  }
                }
              }
            }
          }
          .ocb-plan-right {
            max-width: $size-pgb-overview;
            width: 100%;
            .ocb-plan-pgb {
              position: relative;
              .ocb-p-pgb-bar-overflow {
                position: relative;
                overflow: hidden;
                width: $size-pgb-overview;
                height: calc($size-pgb-overview/2);
                .ocb-p-pgb-bar {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: $size-pgb-overview;
                  height: $size-pgb-overview;
                  border-radius: 50%;
                  box-sizing: border-box;
                  border: 13px solid $color-lightness-gray;
                  border-bottom-color: $color-green;
                  border-right-color: $color-green;
                }
              }

              span {
                &.left {
                  position: absolute;
                  top: calc(100% + 15px);
                  left: 0;
                  font-size: 12px;
                  color: $color-light-gray;
                }
                &.center {
                  position: absolute;
                  top: calc(100% + 15px);
                  left: 0;
                  right: 0;
                  text-align: center;
                  font-size: 20px;
                  color: $color-green;
                }
                &.right {
                  position: absolute;
                  top: calc(100% + 15px);
                  right: 0;
                  font-size: 12px;
                  color: $color-light-gray;
                }
              }
            }
          }
        }
        .ocb-truck-avaliable-truck{
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid $color-lightness-gray;
          .ocb-tat-left{
            width: 100%;
            .ocb-tat-l-title{
              font-size: 16px;
              color : $color-blue;
              padding-bottom: 10px;
            }
            .ocb-tat-l-desc{
              color : $color-light-gray;
            }
          }
          .ocb-tat-right{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            &.red{
              .ocb-tat-r-counting{
                span{
                  color : $color-red
                }
              }
            }
            &.green{
              .ocb-tat-r-counting{
                span{
                  color : $color-green
                }
              }
            }
            &.orange{
              .ocb-tat-r-counting{
                span{
                  color : $color-orange
                }
              }
            }
            .ocb-tat-r-counting{
              color: $color-light-gray;
              margin : 0 0 10px;
              text-align: right;
            }
            .ocb-tat-r-pgb{
              position: relative;
              height: 2px;
              border-radius: 15px;
              width: 100%;
              display: block;
              .ocb-tat-r-pgb-bar{
                position: relative;
                height: 100%;
                width: 100%;
                background: linear-gradient($color-lightness-gray 0%,$color-lightness-gray 100%);
              }
            }
          }
        }
      }
    }
  }
}
