@import "../styles/var.scss";

.main-component {
  padding: 15px 30px;
}

.overview-page {
  .overview-title {
    font-size: 20px;
    font-weight: bold;
    color: $color-blue;
  }
  .overview-box {
    padding-top: 30px;
    display: flex;
    align-items: center;
    .overview-box-items {
      max-width: calc(25% - 15px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 10px;
      margin: 0 7.5px;
      box-shadow: 0 0 20px 0px $color-shadow;
      .obi-left {
        .obi-l-title {
          color: $color-light-gray;
        }
        .obi-l-count {
          padding-top: 15px;
          font-size: 18px;
          color: $color-blue;
        }
      }
      .obi-right {
        .obi-i-ico {
          padding: 15px;
          border-radius: 50%;
          background-color: $color-lightness-gray2;
        }
      }
    }
  }
  .overview-card-box {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0;
    .ocb-card {
      display: flex;
      flex-direction: column;
      max-width: calc(50% - 75px);
      width: 100%;
      margin: 0 7.5px 15px;
      background-color: #fff;
      border-radius: 10px;
      padding: 30px;
      .ocb-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        padding-bottom: 25px;
        .ocb-title {
          font-size: 18px;
          color: $color-blue;
        }
        .ocb-more {
          a {
            color: $color-purple;
            position: relative;
            &::before {
              content: ">";
              position: absolute;
              left: calc(100% + 5px);
              color: $color-purple;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
      .ocb-body {
        .ocb-plan {
          display: flex;
          align-items: center;
          .ocb-plan-left {
            max-width: 100%;
            width: 100%;
            .ocb-pl-items {
              display: flex;
              flex-direction: column;
              .ocb-pl-i-group {
                margin: 0 0 30px;
                .ocb-pl-i-title {
                  color: $color-light-gray;
                  margin: 0 0 10px;
                }
                .ocb-pl-i-counting {
                  font-size: 16px;
                  span {
                    color: $color-light-gray;
                  }
                }
              }
            }
          }
          .ocb-plan-right {
            max-width: $size-pgb-overview;
            width: 100%;
            .ocb-plan-pgb {
              position: relative;
              .ocb-p-pgb-bar-overflow {
                position: relative;
                overflow: hidden;
                width: $size-pgb-overview;
                height: calc($size-pgb-overview/2);
                .ocb-p-pgb-bar {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: $size-pgb-overview;
                  height: $size-pgb-overview;
                  border-radius: 50%;
                  box-sizing: border-box;
                  border: 13px solid $color-lightness-gray;
                  border-bottom-color: $color-green;
                  border-right-color: $color-green;
                }
              }

              span {
                &.left {
                  position: absolute;
                  top: calc(100% + 15px);
                  left: 0;
                  font-size: 12px;
                  color: $color-light-gray;
                }
                &.center {
                  position: absolute;
                  top: calc(100% + 15px);
                  left: 0;
                  right: 0;
                  text-align: center;
                  font-size: 20px;
                  color: $color-green;
                }
                &.right {
                  position: absolute;
                  top: calc(100% + 15px);
                  right: 0;
                  font-size: 12px;
                  color: $color-light-gray;
                }
              }
            }
          }
        }
        .ocb-truck-avaliable-truck {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid $color-lightness-gray;
          .ocb-tat-left {
            width: 100%;
            .ocb-tat-l-title {
              font-size: 16px;
              color: $color-blue;
              padding-bottom: 10px;
            }
            .ocb-tat-l-desc {
              color: $color-light-gray;
            }
          }
          .ocb-tat-right {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            &.red {
              .ocb-tat-r-counting {
                span {
                  color: $color-red;
                }
              }
            }
            &.green {
              .ocb-tat-r-counting {
                span {
                  color: $color-green;
                }
              }
            }
            &.orange {
              .ocb-tat-r-counting {
                span {
                  color: $color-orange;
                }
              }
            }
            .ocb-tat-r-counting {
              color: $color-light-gray;
              margin: 0 0 10px;
              text-align: right;
            }
            .ocb-tat-r-pgb {
              position: relative;
              height: 4px;
              border-radius: 15px;
              width: 100%;
              display: block;
              overflow: hidden;
              .ocb-tat-r-pgb-bar {
                position: relative;
                height: 100%;
                width: 100%;
                background: linear-gradient(
                  $color-lightness-gray 0%,
                  $color-lightness-gray 100%
                );
              }
            }
          }
        }
        .ocb-request {
          .ocb-r-group {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $color-lightness-gray;
            .ocb-r-left {
              display: flex;
              align-items: center;
              .ocb-rl-ico {
                padding: 10px;
                background-color: $color-lightness-gray2;
                border-radius: 50%;
              }
              .ocb-rl-text {
                margin-left: 15px;
                .ocb-rl-title {
                  font-size: 14px;
                  color: $color-blue;
                  padding-bottom: 5px;
                }
                .ocb-rl-des {
                  font-size: 12px;
                  color: $color-light-gray;
                }
              }
            }
            .ocb-r-right {
              .ocb-rr-time {
                font-size: 14px;
                color: $color-light-gray;
              }
            }
          }
        }
      }
    }
  }
  .overview-button {
    display: flex;
    align-items: center;
    margin-left: 30px;
    .ovv-btn-items {
      padding: 12px 15px;
      border-radius: 10px;
      background-color: $color-light-purple;
      color: $color-purple;
      margin-right: 10px;
      font-size: 12px;
      cursor: pointer;
      transition: 0.5s;
      &.active,
      &:hover {
        background-color: $color-purple;
        color: #fff;
        transition: 0.5s;
      }
    }
  }
  &.shipments {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &.shipments-details {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 30px;
    .overview-title {
      margin-right: 10px;
    }
    .overview-time {
      color: $color-light-gray;
    }
  }
  &.parcel {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    .overview-title {
      margin-right: 10px;
    }
  }
}
.shipments-component {
  .shipments-group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    .shipments-card {
      max-width: calc(50% - 75px);
      width: 100%;
      margin: 0 7.5px 15px;
      padding: 30px;
      background-color: #fff;
      border-radius: 15px;
      cursor: pointer;
      transform: scale(1);
      box-shadow: 0 0 20px 0px transparent;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 0 20px 0px $color-shadow;
        transform: scale(1.01);
        transition: all 0.3s ease-in-out;
      }
      .sc-header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 30px;
        .sc-head-detail {
          display: flex;
          align-items: flex-end;
          .sc-hl-desination {
            color: $color-blue;
            font-size: 17px;
          }
          .sc-hl-time {
            color: $color-light-gray;
            font-size: 13px;
            padding-left: 10px;
          }
        }
        .sc-h-load {
          font-size: 22px;
          &.danger {
            color: $color-red;
          }
          &.warning {
            color: $color-orange;
          }
          &.success {
            color: $color-green;
          }
        }
      }
      .sc-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .sc-b-detial {
          max-width: 40%;
          width: 100%;
          .sc-b-items {
            margin-bottom: 20px;
            &:last-child {
              margin: 0;
            }
            .sc-bi-field {
              color: $color-light-gray;
              font-size: 12px;
              margin: 0 0 10px;
            }
            .sc-bi-value {
              font-size: 16px;
              color: $color-blue;
              span {
                color: $color-light-gray;
              }
            }
          }
        }
        .sc-b-truck-load {
          max-width: 60%;
          width: 100%;
        }
      }
    }
  }
  &.truck-details {
    .shipments-group {
      .shipments-card {
        .sc-header {
          .sc-head-detail {
            .sc-hl-time {
              &.truck-details {
                margin-left: 15px;
                padding: 4px 10px;
                border-radius: 5px;
                font-size: 10px;
                font-weight: bold;
                text-transform: capitalize;
              }
            }
          }
        }
        &.available {
          .sc-header {
            .sc-head-detail {
              .sc-hl-time {
                color: #fff;
                background-color: $color-green;
              }
            }
          }
        }
        &.departure {
          .sc-header {
            .sc-head-detail {
              .sc-hl-time {
                color: #fff;
                background-color: $color-orange;
              }
            }
          }
        }
        &.maintainance {
          .sc-header {
            .sc-head-detail {
              .sc-hl-time {
                color: #fff;
                background-color: $color-red;
              }
            }
          }
        }
      }
    }
  }
}
.error-component {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: $box-shadow-basic;
  padding: 15px 30px;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  .error-c-text {
    margin: 15px 0;
  }
  .error-c-btn {
    padding: 7px 15px;
    background-color: $color-light-purple;
    color: $color-purple;
    display: inline-block;
    border-radius: 10px;
    a {
      color: $color-purple;
    }
  }
}
.shipment-details-component {
  display: flex;
  align-items: flex-start;
  &.truck-details {
    align-items: inherit;
  }
  .sdc-truck-load {
    max-width: 535px;
    width: 100%;
    margin: 0 7.5px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    &.truck-details {
      min-width: 535px;
      max-width: 100%;
    }
    .sdc-tl-header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .sdc-tl-h-name {
        font-size: 18px;
        color: $color-blue;
      }
      .sdc-tl-h-percent {
        font-size: 20px;
        &.danger {
          color: $color-red;
        }
        &.warning {
          color: $color-orange;
        }
        &.success {
          color: $color-green;
        }
      }
    }
    .sdc-tl-truck {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .sdc-tl-truck-load {
        max-width: 50%;
        width: 100%;
        .sdc-tltl-field {
          font-size: 18px;
          color: $color-light-gray;
          margin-bottom: 15px;
        }
        .sdc-tltl-value {
          font-size: 18px;
          color: $color-blue;
          span {
            color: $color-light-gray;
          }
        }
      }
      .sdc-tl-truck-img {
        width: 100%;
      }
    }
    .sdc-tl-parcel-box {
      margin-bottom: 30px;
      .sdc-tl-pb-title {
        font-size: 14px;
        color: $color-blue;
        margin: 0 0 15px;
      }
      .sdc-tl-pb-box {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        .box {
          width: 100px;
          margin: 0 3.25px 7.5px;
          height: 80px;
          border-radius: 5px;
          background-color: $color-green;
          opacity: 0.4;
          transition: 0.5s;
          &.selected,
          &:hover {
            &:not(.full) {
              background-color: $color-purple;
              opacity: 1;
              transition: 0.5s;
            }
          }
          &.full {
            background-color: $color-lightness-gray;
          }
        }
      }
    }
    .sdc-tl-parcel-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .sdc-tl-parcel-view-list {
        display: flex;
        padding: 15px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        width: calc(100% - 15px);
        margin: 0 7.5px;
        cursor: pointer;
        .stpvl-icon {
          margin-right: 10px;
        }
        &.btn-full {
          background-color: $color-purple;
          .stpvl-icon {
            svg {
              fill: #fff;
            }
          }
          .stpvl-text {
            color: #fff;
          }
        }
        &.btn-outline {
          background-color: $color-light-purple;
          .stpvl-icon {
            svg {
              fill: $color-purple;
            }
          }
          .stpvl-text {
            color: $color-purple;
          }
        }
      }
    }
  }
  .sdc-truck-parcel-available {
    max-width: 100%;
    width: 100%;
    margin: 0 7.5px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    &.truck-details {
      background-color: transparent;
      padding: 0;
      max-width: 460px;
    }
    .sdc-grid-2 {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      .sdc-g2-items {
        max-width: calc(50% - 65px);
        width: 100%;
        background-color: #fff;
        padding: 20px;
        margin: 0 7.5px 15px;
        border-radius: 10px;
        box-shadow: $box-shadow-basic;
        display: flex;
        align-items: center;
        &:nth-child(n + 3) {
          margin: 0 7.5px 0;
        }
        .sdc-g2-i-ico {
          margin-right: 15px;
          .sdc-g2-i-ico-pad {
            background-color: $color-lightness-gray;
            border-radius: 50%;
            padding: 10px;
            svg {
              fill: $color-purple;
            }
          }
        }
        .sdc-g2-i-detail {
          .sdc-g2id-title {
            color: $color-blue;
            font-weight: bold;
            margin-bottom: 5px;
          }
          .sdc-g2id-value {
            color: $color-light-gray;
            font-size: 11px;
          }
        }
      }
    }
  }
}

.parcel-component {
  display: flex;
  align-items: flex-start;
  .parcel-grid {
    max-width: calc(50% - 75px);
    width: 100%;
    padding: 30px;
    margin: 0 7.5px;
    background-color: #fff;
    border-radius: 15px;
    .parcel-title {
      font-size: 18px;
      color: $color-blue;
      margin: 0 0 15px;
    }
    .parcel-contrl {
      margin-top: 15px;
      background-color: $color-light-purple;
      color: $color-purple;
      padding: 12px 15px;
      display: inline-block;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
